Importing Necessary Libraries

In [2]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
# import warnings
# warnings.simplefilter(action = 'ignore',category=FutureWarning)

In [5]:
# load the dataset
ratings = pd.read_csv("https://s3-us-west-2.amazonaws.com/recommender-tutorial/ratings.csv")
print(ratings.head())
movies = pd.read_csv("https://s3-us-west-2.amazonaws.com/recommender-tutorial/movies.csv")
print(movies.head())

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [8]:
print(ratings.columns)
print(movies.columns)

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')
Index(['movieId', 'title', 'genres'], dtype='object')

In [10]:
n_ratings = len(ratings)
n_movies = len(ratings['movieId'].unique())
n_users = len(ratings['movieId'].unique())

print(f"Number of ratings: {n_ratings}")
print(f"Number of unique moviesID's: {n_movies}")
print(f"Number of unique users: {n_users}")
print(f"Average ratiings per user: {round(n_ratings/n_users, 2)}")
print(f"Average ratiings per movies: {round(n_ratings/n_movies, 2)}")

Number of ratings: 100836
Number of unique moviesID's: 9724
Number of unique users: 9724
Average ratiings per user: 10.37
Average ratiings per movies: 10.37

In [11]:
user_freq = ratings[['userId','movieId']].groupby('userId').count().reset_index()
user_freq.columns = ['userId','n_ratings']
print(user_freq.head())

   userId  n_ratings
0       1        232
1       2         29
2       3         39
3       4        216
4       5         44

In [13]:
mean_rating = ratings.groupby('movieId')[['rating']].mean()  #finds highest and lowest rated

lowest_rated = mean_rating['rating'].idxmin()     #lowest rated movies
movies.loc[movies['movieId'] == lowest_rated]

highest_rated = mean_rating['rating'].idxmin()    #highest rated movies
movies.loc[movies['movieId'] == highest_rated]

ratings[ratings['movieId'] == highest_rated]       #people who watched these highest rated movies

ratings[ratings['movieId'] == lowest_rated]       #people who watched lowest rated movies

movie_stats = ratings.groupby('movieId')[['rating']].agg(['count','mean'])   #adding baysian average
movie_stats.column = movie_stats.columns.droplevel()

<ipython-input-13-2afb98f8221d>:14: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  movie_stats.column = movie_stats.columns.droplevel()